<h1>StaticPages</h1>
<div id="map-canvas"></div>

<%= javascript_tag do %>
  $(document).ready(function(){
    var developer = <%=raw @developer.to_json %>    // pass ruby variable to javascript
    gmap_show(developer);    // init show map for company card (only print marker)
  });
<% end %>